.panel {
    background-color: #F0F0F0;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid black;
}
.panelTitle {
    font-weight: bold;
}

#pageHeader {
}
#logoImage {
    /*float: left;*/
    vertical-align: middle;
}
#shopTitle {
    font-style: italic;
    color: dodgerblue;
}
#headerDelimiter {
    clear: both;
}

#loginPanel {
    float: right;
}

#productPanel {
    float:left;
    width: 200px;
    height: 200px;
    text-align: center;
}
#productImage {
    max-width: 100%;
    max-height: 75%;
}

#productInfoTitle {
    font-size-adjust: 1;
    font-weight: bold;
}
#productInfoImage {
    float: left;
}
#productAllUpcsPanel {
    clear: left;
    margin-top: 10px;
}
#productUpcPanel {
    float: left;
}

#attributeName {
    padding-right: 5px;
}
#attributeValue {
    padding-left: 5px;
}
